body{
    font-size: 20px;
    font-family: monospace;
}

#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 750px;
    position: relative;
    background: rgb(121, 234, 238);
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:120px;
    height:40px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
    background: purple;
    margin-top: 125px;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}


#question{
    width:500px;
    height : 125px;
    position: absolute;
    /* right:0;
    top:0; */
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    width : 420px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding-top : 5px;
    margin-top: 10px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}




















